.image {
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}
.newsLetter {
  transform: translate(-50%, -50%);
  text-align: center;
}

.newsLetter input {
  padding: 10px;
  width: 100%;
  background-color: aliceblue;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 10px;
}
